[submodule "DSKY-keyboard-replica"]
	path = DSKY-keyboard-replica
	url = https://github.com/rrainey/DSKY-keyboard-replica.git
[submodule "DSKY-alarm-panel-replica"]
	path = DSKY-alarm-panel-replica
	url = https://github.com/rrainey/DSKY-alarm-panel-replica.git
[submodule "virtualagc"]
	path = virtualagc
	url = https://github.com/rrainey/virtualagc
[submodule "DSKY-digital-indicator-replica"]
	path = DSKY-digital-indicator-replica
	url = https://github.com/rrainey/DSKY-digital-indicator-replica
[submodule "Pi-Power"]
	path = Pi-Power
	url = https://github.com/rrainey/Pi-Power
