Package: dsky-matic 
Version: 1.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: riley@websimulations.com
Description: embedded software for the DSKY-matic Raspberry Pi 4
